md-dialog.dialog.timesheet-dialog-project

  md-content(flex layout='column')

    h3 Search for a project

    md-content(flex layout='row')


      md-autocomplete.client-autocomplete(ng-disabled='isDisabled', md-autofocus="false" md-no-cache='noCache', md-selected-item='selectedClientItem',
      md-search-text-change='searchClientTextChange(searchClientsText)', md-search-text='searchClientsText',
      md-selected-item-change='selectedClientItemChange(clientItem)', md-items='clientItem in searchClients(searchClientsText)',
      md-item-text='clientItem.name', md-min-length='0', placeholder='Enter the client name')

        md-item-template
          span(md-highlight-text='searchClientsText', md-highlight-flags='^i') {{clientItem.name}}
        md-not-found
          | No clients matching "{{searchClientsText}}" were found.



      md-autocomplete.project-autocomplete(ng-disabled='isDisabled', md-no-cache='noCache', md-selected-item='selectedProjectItem',
      md-search-text-change='searchProjectTextChange(searchProjectsText)', md-search-text='searchProjectsText',
      md-selected-item-change='selectedProjectItemChange(projectItem)', md-items='projectItem in searchProjects(selectedClientItem, searchProjectsText)',
      md-item-text='projectItem.name', md-min-length='0', placeholder='Enter the project name')

        md-item-template
          span(md-highlight-text='searchProjectsText', md-highlight-flags='^i') {{projectItem.name}}
        md-not-found
          | No projects matching "{{searchProjectsText}}" were found.

      md-button.add-project-button.md-raised(ng-click='complete($event, selectedClientItem, selectedProjectItem)') Add



    md-content(flex layout='column')

      h3 or select a common project

      md-content.common-project-content(flex layout='row')

        md-button.md-raised.common-project-button(ng-repeat='commonProject in commonProjects track by $index',
        ng-click='selectCommon($event, commonProject)'
        random-color='{{commonProject.clientName}}')
          div(flex layout='column')
            h4 {{commonProject.projectName}}
            em {{commonProject.clientName}}





